h1{
    background-color: blue;
}

h3{
    color: red;
}

p{
    color: aqua; 
}
h2{
    background-color: yellow;
    color: blue;
}

h5{
    color: blueviolet;
}

h4{
    color: black;
    background-color: white;
    padding: 10px;
}